/***************************
GENERAL
***************************/
body {
  background-color: rgb(44,62,80);
  color: rgb(236,240,241);
}

/***************************
NAVBAR
***************************/

#nav-img {
  height: 75px;
  width: 75px;
  margin: 0 20px;
}

.menu > li > a {
  display: inline-block;
  line-height: 60px;
  padding-top: 0;
  padding-bottom: 0;
  color: rgb(44,62,80);
}

.menu > li > a:hover {
  color: rgb(236,240,241);
  background-color: rgb(44,62,80);
}

.top-bar {
  padding: 0 8px;
  height: 60px;
}

/***************************
MAIN
***************************/
.standard-row {
  margin-top: 75px;
}

h1 {
  font-size: 6em;
  margin: 0 5% 0 15%;
  padding: 0;
}

h3 {
  font-size: 3em;
  margin: 0% 5% 0% 15%;
  padding: 0;
}

h4 {
  font-size: 2.25em;
  margin: 0% 5% 0% 15%;
  padding: 0;
}

h5 {
  font-size: 2em;
  margin: 0% 5% 0% 15%;
  padding: 0;
}

h6 {
  font-size: 2em;
  margin: 0% 5% 0% 15%;
  padding: 0;
}

#headshot {
  margin: 25px 5% 0% 0%;
  padding: 0;
  border-radius: 50%;
}

p {
  font-size: 1.25em;
  padding-top: 20px;
  padding-left: 75px;
}

/***************************
ABOUT
***************************/

#about-row {
  margin-top: 0;
}

#about-p {
  font-size: 1.5em;
  margin: 0% 5% 0% 15%;
  padding: 0;
  content: justify;
  text-align: justify;
}

#about-tatu {
  text-align: justify;
}

#tatu-container {
  display: flex;
}

#tatu {
  max-height: 200px;
  border-radius: 50%;
}

/***************************
SOCIAL MEDIA ICONS
***************************/

.fi-social-github, .fi-social-linkedin, .fi-social-instagram {
 font-size: 3em;
 padding-left: 30px;
 padding-right: 30px;
}

.social-media-a {
  color: rgb(236,240,241);
}

/***************************
PORTFOLIO
***************************/

#portfolio-h1 {
  margin: 0px 0px 0px 70px;
}

#portfolio-wrapper {
  margin: 0 20px;
}

.portfolio-h3 {
  margin: 75px 0px 20px 50px;
  font-size: 4.25em;
}

.portfolio-columns {
  padding-left: 10px;
}

.portfolio-a {
  color: rgb(44,62,80);
  font-size: 1.5em;
}

.portfolio-a-in-p {
  color: rgb(236,240,241);
}

.portfolio-img {
  max-height: 250px;
  height: 100%;
  border-radius: 5%;
}

.portfolio-p {
  font-size: 1em;
  margin-bottom: 0;
  padding: 0;
  text-align: justify;
}

.portfolio-row {
  margin-left: 40px;
}

.portfolio-button {
  background-color: rgb(236,240,241);
  margin: 20px 0 0 0;
  border-radius: 10%;
}

.portfolio-a-in-modal, .portfolio-li {
  color: rgb(44,62,80);
}

.portfolio-button:hover {
  background-color: rgba(236,240,241,.8);
}

.portfolio-a-in-modal:hover {
  color: rgb(44,62,80);
}

.portfolio-p-in-modal {
  color: rgb(44,62,80);
  padding: 20px 0 0 0;
  margin: 0;
  font-size: 1em;
}

#Gardenhood-Modal, #Mirepoix-Modal, #gitFit-Modal, #Simon-Modal {
  background-color: rgb(236,240,241);
}

#Simon-row {
  margin-bottom: 50px;
}

/***************************
FOOTER
***************************/

.footer-p {
  font-size: .75em;
  padding: 0;
  margin: 0 0 0 15%;;
}

footer {
  margin: 0 20px 50px 0;
}

/***************************
MEDIA QUERIES
***************************/

@media only screen and (max-width: 399px) {
  h1 {
    font-size: 2.25em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.25em;
  }
  h6 {
    font-size: 1.5em;
  }
  #about-p, #about-tatu {
    text-align: left;
  }
  .portfolio-h3 {
    font-size: 1.5em;
  }
  #portfolio-h1 {
    font-size: 2em;
    margin: 20px 0 0 70px;
  }
  .portfolio-p {
    font-size: .5em;
  }
  .portfolio-img {
    max-height: 100px;
  }
}


@media only screen and (min-width: 400px) and (max-width: 768px) {
  h1 {
    font-size: 2.25em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.25em;
  }
  h6 {
    font-size: 1.5em;
  }
  #about-p, #about-tatu {
    text-align: left;
  }
  .portfolio-h3 {
    font-size: 2em;
  }
  #portfolio-h1 {
    font-size: 3em;
    margin: 20px 0 0 70px;
  }
  .portfolio-img {
    max-height: 175px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  h1 {
    font-size: 2.75em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.75em;
  }
  h5 {
    font-size: 1.5em;
  }
  h6 {
    font-size: 1.5em;
  }
  .portfolio-h3 {
    font-size: 2.5em;
  }
  #portfolio-h1 {
    font-size: 3.5em;
    margin: 20px 0 0 70px;
  }
}
